 ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: red;
    }

li {
      float: left;
      display: flex;
      align-items: center; /* Centrar verticalmente */
    }

li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

li a:hover {
      background-color: #ddd;
    }

.logo {
      display: flex;
      align-items: center; /* Centrar verticalmente */
    }
    

.container {
        display: flex;       
}
  
.fieldset-container1 {
        width: 20%;
}
  
fieldset {
        border: 1px solid black;
        padding: 10px;
        background-color: greenyellow;
}
input{
        margin: 10px 0 0 0;
        width: 100%;
        min-height: 2em;
}
label {
        display: block;
        margin: 0.5rem 0;
        background-color: greenyellow;
}
select {
        margin: 10px 0 0 0;
        width: 5%;
        min-height: 2em;
        height: 100%;
}
h1, h2{
    margin: 1em auto;
    text-align: center;
    width: 100%;
  }